@main("Betterrev Contact Us", false, false, false, true, false) {
    
    <h1>Contact Us</h1>

    <ul class="list-unstyled">
        <li><a href="/help/"><img src="@routes.Assets.at("images/Icon_Arrow_60x60px.png")" alt="Where Do I Start?"/> I'm New, Where Do I Go?</a></li>
        <li>
            <a href="mailto:betterrev@@googlegroups.com"><img src="@routes.Assets.at("images/Icon_UserMailingList_60x60px.png")" alt="Mailing List Link"/> Post a Message!</a>
            - (<a href="https://groups.google.com/d/forum/adopt-openjdk" target="_blank">Subscribe/Unsubscribe/Preferences</a>)</li>

        <li><img src="@routes.Assets.at("images/Icon_RealTimeSupport_60x60px.png")" alt="IRC Link"/> Real Time Support via IRC - #adoptopenjdk channel on irc.freenode.net</li>
        <li><a href="https://bitbucket.org/adoptopenjdk/betterrev/wiki/Home" target="_blank"><img src="@routes.Assets.at("images/Icon_Wiki_60x60px.png")" alt="Wiki Link"/> Betterrev Wiki</a></li>
        <li><a href="https://bitbucket.org/adoptopenjdk/betterrev/issues" target="_blank"><img src="@routes.Assets.at("images/Icon_Bugs_60x60px.png")" alt="JIRA Link"/> Betterrev Issue and Requirements Tracking</a></li>
        <li><a href="https://bitbucket.org/adoptopenjdk/betterrev/issues" target="_blank"><img src="@routes.Assets.at("images/Icon_TaskList_60x60px.png")" alt="Task Board"/> Task Board (Project Planning)</a></li>
        <li><a href="https://bitbucket.org/adoptopenjdk/betterrev/" target="_blank"><img src="@routes.Assets.at("images/adoptopenjdk.png")" alt="Join the team" height="60px" width="60px" /> Join the Community as a Volunteer!</a></li>
    </ul>

}
